@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,800");
@import url("https://fonts.googleapis.com/css?family=Lobster");
html {
    font-size: 62.5%;
}
body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}
h1 {
    margin-bottom: 0.5em;
    font-size: 3.6rem;
}
p {
    margin-bottom: 0.5em;
    font-size: 1.6rem;
    line-height: 1.6;
}
.button {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 25px;
    border-radius: 4px;
}
.button-primary {
    position: relative;
    background-color: #c0ca33;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    transition: color 0.3s ease-in;
    z-index: 1;
}
.button-primary:hover {
    color: #c0ca33;
    text-decoration: none;
}
.button-primary::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fff;
    border-radius: 4px;
    opacity: 0;
    -webkit-transform: scaleX(0.8);
    -ms-transform: scaleX(0.8);
    transform: scaleX(0.8);
    transition: all 0.3s ease-in;
    z-index: -1;
}
.button-primary:hover::after {
    opacity: 1;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}
.overlay::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
}
.header-area {
    position: relative;
    height: 100vh;
    background: #5bc0de;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repear;
    background-size: cover;
}
.banner {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    color: #fff;
    text-align: center;
    z-index: 1;
}
.banner h1 {
    font-weight: 800;
}
.banner p {
    font-weight: 700;
}
.navbar {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    width: 100%;
    transition: background 0.6s ease-in;
    z-index: 99999;
}
.navbar .navbar-brand {
    font-family: "Lobster", cursive;
    font-size: 2.5rem;
}
.navbar .navbar-toggler {
    position: relative;
    height: 50px;
    width: 50px;
    border: none;
    cursor: pointer;
    outline: none;
}
.navbar .navbar-toggler .menu-icon-bar {
    position: absolute;
    left: 15px;
    right: 15px;
    height: 2px;
    background-color: #fff;
    opacity: 0;
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
    transition: all 0.3s ease-in;
}
.navbar .navbar-toggler .menu-icon-bar:first-child {
    opacity: 1;
    -webkit-transform: translateY(-1px) rotate(45deg);
    -ms-sform: translateY(-1px) rotate(45deg);
    transform: translateY(-1px) rotate(45deg);
}
.navbar .navbar-toggler .menu-icon-bar:last-child {
    opacity: 1;
    -webkit-transform: translateY(-1px) rotate(135deg);
    -ms-sform: translateY(-1px) rotate(135deg);
    transform: translateY(-1px) rotate(135deg);
}
.navbar .navbar-toggler.collapsed .menu-icon-bar {
    opacity: 1;
}
.navbar .navbar-toggler.collapsed .menu-icon-bar:first-child {
    -webkit-transform: translateY(-7px) rotate(0);
    -ms-sform: translateY(-7px) rotate(0);
    transform: translateY(-7px) rotate(0);
}
.navbar .navbar-toggler.collapsed .menu-icon-bar:last-child {
    -webkit-transform: translateY(5px) rotate(0);
    -ms-sform: translateY(5px) rotate(0);
    transform: translateY(5px) rotate(0);
}
.navbar-dark .navbar-nav .nav-link {
    position: relative;
    color: #fff;
    font-size: 1.6rem;
}
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}
.navbar .dropdown-menu {
    padding: 0;
    background-color: rgba(0, 0, 0, 0.9);
}
.navbar .dropdown-menu .dropdown-item {
    position: relative;
    padding: 10px 20px;
    color: #fff;
    font-size: 1.4rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: color 0.2s ease-in;
}
.navbar .dropdown-menu .dropdown-item:last-child {
    border-bottom: none;
}
.navbar .dropdown-menu .dropdown-item:hover {
    background: transparent;
    color: #c0ca33;
}
.navbar .dropdown-menu .dropdown-item::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    width: 5px;
    background-color: #c0ca33;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}
.navbar .dropdown-menu .dropdown-item:hover::before {
    opacity: 1;
}
.navbar.fixed-top {
    position: fixed;
    -webkit-animation: navbar-animation 0.6s;
    animation: navbar-animation 0.6s;
    background-color: rgba(0, 0, 0, 0.9);
}
.navbar.fixed-top.navbar-dark .navbar-nav .nav-link.active {
    color: #c0ca33;
}
.navbar.fixed-top.navbar-dark .navbar-nav .nav-link::after {
    background-color: #c0ca33;
}
.content {
    padding: 120px 0;
}
.input-group {
    width: 510px;
    height: 50px;
}
.imagebenner {
    border-radius: 10px;
}
.judulni span {
    font-size: 25pt;
    font-style: italic;
}
.judulni b {
    font-size: 25pt;
    margin-left: 6px;
    color: #ffc93c;
    font-family: "Lobster", cursive;
}
.anakjudul {
    font-family: "Lobster", sans-serif;
    font-size: 15pt;
}
.btncarini {
    font-family: "Fredoka One", cursive;
    color: #fff;
}
.btncom {
    margin-right: -400px;
}
.btninfo {
    margin-left: -400px;
}
.tengahcard {
    text-align: center;
    font-size: 15pt;
    margin-bottom: 50px;

    font-family: "Fredoka One", cursive;
}
.tengahcard b {
    font-size: 15pt;
    font-family: "Lobster", sans-serif;
    color: #ffc93c;
}

//cardimg

.social-card-header {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 96px;
}
.social-card-header i {
    font-size: 32px;
    color: #fff;
}
.bg-facebook {
    background-color: #3b5998;
}
.text-facebook {
    color: #3b5998;
}
.bg-google-plus {
    background-color: #dd4b39;
}
.text-google-plus {
    color: #dd4b39;
}
.bg-twitter {
    background-color: #1da1f2;
}
.text-twitter {
    color: #1da1f2;
}
.bg-pinterest {
    background-color: #bd081c;
}
.text-pinterest {
    color: #bd081c;
}
.share:hover {
    text-decoration: none;
    opacity: 0.8;
}
.strike-text {
    color: red;
    font-family: "Fredoka One", cursive;
}
.card-text {
    color: black;
    font-family: "Fredoka One", cursive;
}
.textcrd {
    margin-top: 10px;
    font-family: "Titillium Web", sans-serif;
}
.textcrd2 {
    margin-top: 20px;
    font-family: "Fredoka One", cursive;
}
.textsell {
    color: #1da1f2;
    font-family: "Fredoka One", cursive;
}

.line {
    border-bottom: 8px solid #ffc93c;
    width: 100%;
    margin: 5px 0;
}
.card-custom {
    overflow: hidden;
    min-height: 450px;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-custom-img {
    height: 200px;
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-color: inherit;
}

/* First border-left-width setting is a fallback */
.card-custom-img::after {
    position: absolute;
    content: "";
    top: 161px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-top-width: 40px;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 545px;
    border-left-width: calc(575px - 5vw);
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: inherit;
}

.card-custom-avatar img {
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
    position: absolute;
    top: 100px;
    left: 1.25rem;
    width: 100px;
    height: 100px;
}

/* //card3 */
.gambarfull {
    object-fit: cover;
}
/* //Akhir */

.cardketiga {
    border-radius: 3%;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.cardketiga:hover {
    background-color: #f5f5f5;
    transform: scale(1.1);
}
.cardempat {
    margin-top: 100px;
    height: 250px;
}

.card-img-right {
    transition: transform 0.5s ease-in-out;
    transform: translateY(0);
}

.card-img-right:hover {
    transform: translateY(-10px);
}

iframe {
    border-radius: 10px;
}

@media screen and (min-width: 769px) {
    .green::before {
        background-image: linear-gradient(
            -80deg,
            $main-green-rgb-015,
            transparent 50%
        );
    }
    .green:nth-child(2n)::before {
        background-image: linear-gradient(
            80deg,
            $main-green-rgb-015,
            transparent 50%
        );
    }

    .blue::before {
        background-image: linear-gradient(
            -80deg,
            $main-blue-rgb-015,
            transparent 50%
        );
    }
    .blue:nth-child(2n)::before {
        background-image: linear-gradient(
            80deg,
            $main-blue-rgb-015,
            transparent 50%
        );
    }

    .red::before {
        background-image: linear-gradient(
            -80deg,
            $main-red-rgb-015,
            transparent 50%
        );
    }
    .red:nth-child(2n)::before {
        background-image: linear-gradient(
            80deg,
            $main-red-rgb-015,
            transparent 50%
        );
    }

    .yellow::before {
        background-image: linear-gradient(
            -80deg,
            $main-yellow-rgb-015,
            transparent 50%
        );
    }
    .yellow:nth-child(2n)::before {
        background-image: linear-gradient(
            80deg,
            $main-yellow-rgb-015,
            transparent 50%
        );
    }
}

//akhircard

@media screen and (max-width: 768px) {
    .navbar-brand {
        margin-left: 20px;
    }
    .navbar-nav {
        padding: 0 20px;
        background-color: rgba(0, 0, 0, 0.9);
    }
    .navbar.fixed-top .navbar-nav {
        background: transparent;
    }
}
@media screen and (min-width: 767px) {
    .banner {
        padding: 0 150px;
    }
    .banner h1 {
        font-size: 5rem;
    }
    .banner p {
        font-size: 2rem;
    }
    .navbar-dark .navbar-nav .nav-link {
        padding: 23px 15px;
    }
    .navbar-dark .navbar-nav .nav-link::after {
        content: "";
        position: absolute;
        bottom: 15px;
        left: 30%;
        right: 30%;
        height: 1px;
        background-color: #fff;
        -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transform: scaleX(0);
        transition: transform 0.1s ease-in;
    }
    .navbar-collapse a {
        font-family: "Oswald", sans-serif;
    }
    .navbar-dark .navbar-nav .nav-link:hover::after {
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1);
    }
    .dropdown-menu {
        min-width: 200px;
        -webkit-animation: dropdown-animation 0.3s;
        animation: dropdown-animation 0.3s;
        -webkit-transform-origin: top;
        -ms-transform-origin: top;
        transform-origin: top;
    }
    .btnni {
        width: 30px;
        height: 30px;
        margin-left: -30px;
        margin-top: 10px;
        border-radius: 50%;
    }
    .login__submit {
        border-radius: 25px;
        background: linear-gradient(to right, #e67e22, #f39c12);
        height: 40px;
        width: 120px;
        border-color: #ecf0f1;
    }
    .text_login {
        font-family: "Lobster", cursive;
        color: #fff;
    }
}
@-webkit-keyframes navbar-animation {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes navbar-animation {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}
@-webkit-keyframes dropdown-animation {
    0% {
        -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
        transform: scaleY(0);
    }
    75% {
        -webkit-transform: scaleY(1.1);
        -ms-transform: scaleY(1.1);
        transform: scaleY(1.1);
    }
    100% {
        -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
    }
}
@keyframes dropdown-animation {
    0% {
        -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
        transform: scaleY(0);
    }
    75% {
        -webkit-transform: scaleY(1.1);
        -ms-transform: scaleY(1.1);
        transform: scaleY(1.1);
    }
    100% {
        -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
    }
}
